<div class="container">
  <div class="jumbotron text-center card m-1">
    <div class="jumbotron text-center m-4">
      <h1>Games</h1>
    </div>
    <div class="col text-center">
      <h4 class="m-4">Entered Games</h4>
      <p>You can search for games by name and sort them by name, rating, or release date down below.</p>
      <p>You can also see the amount of games that are found by the search.</p>
      <p>Click on the view button to see more information about the game.</p>
    </div>
    <div class="col text-center">
        <div class="row">
        <app-game-list [games]="games"></app-game-list>
        </div>
    </div>
  </div>
</div>
