<div class="container">
    <div class="jumbotron text-center card m-1">
        <h1>Add Game</h1>
        <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" formControlName="image">
          </div>
          <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" class="form-control" id="rating" formControlName="rating">
          </div>
          <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" formControlName="genre">
          </div>
          <div class="form-group">
            <label for="releaseDate">Release Date</label>
            <input type="text" class="form-control" id="releaseDate" formControlName="releaseDate">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>